<ng-container *ngIf="visInicioHeader">
    <div class="w-full bg-header shadow-1">
        <div class="w-7 xl:w-3 headerWeb mx-auto py-3">
            <img src="assets/img/SunafilEnLineaImg/APLICACIONES/sunafil-logo-color.svg" class="" alt="">
        </div>
    </div>
</ng-container>
<ng-container *ngIf="visEmpleadorHeader">
    <div class="w-full relative h-20rem xl:h-25rem containerWeb">
            <div class="block md:hidden">
                <img src="assets/img/SunafilEnLineaImg/FONDOS/fondo-empleador-mobile.png" class="w-full h-20rem" alt="">
            </div>
            <div class="hidden md:block">
                <img src="assets/img/SunafilEnLineaImg/FONDOS/fondo-empleador.png" class="w-full h-20rem xl:h-25rem containerWeb" alt="">
            </div>
            <img src="assets/img/SunafilEnLineaImg/APLICACIONES/sunafil-logo-blanco.svg" class="logoBlancoSunafil" alt="">
            <a href="#" (click)="backEmpleador()" class="volverInicioHeader md:mt-2 lg:mt-1 text-white flex gap-3 align-items-center">
                <img src="assets/img/SunafilEnLineaImg/volver-al-inicio-btn.svg" class="w-2 lg:w-1" alt="">
                <p class="md:text-2xl">Volver al Inicio</p>
            </a>
            <div class="absolute bottom-0  w-full right-0 headerItems">
                <div class="text-center">
                    <h1 class="text-white font-bold xl:text-7xl">Sunafil en línea</h1>
                    <p class="text-white text-xl lg:text-2xl">Al servicio del cuidadano</p>
                    <input type="text" class="w-8 md:w-6 lg:w-4 bordeInput py-1 xl:w-3 pl-5 md:pl-5 xl:pl-5" pInputText/>
                    <a href="#">
                        <img src="assets/img/SunafilEnLineaImg/lupa.svg" class="lupa cursor-pointer" alt="">
                    </a>
                </div>
            </div>
    </div>
</ng-container>
 <ng-container *ngIf="visTrabajadorHeader">
    <div class="w-full relative h-20rem xl:h-25rem containerWeb">
        <div class="block md:hidden">
            <img src="assets/img/SunafilEnLineaImg/FONDOS/fondo-trabajador-mobile.png" class="w-full h-20rem" alt="">
        </div>
        <div class="hidden md:block">
            <img src="assets/img/SunafilEnLineaImg/FONDOS/fondo-trabajador.png" class="w-full h-20rem xl:h-25rem containerWeb" alt="">
        </div>
        <img src="assets/img/SunafilEnLineaImg/APLICACIONES/sunafil-logo-blanco.svg" class="logoBlancoSunafil" alt="">
        <a href="#" (click)="backTrabajador()" class="volverInicioHeader md:mt-2 lg:mt-3 text-white flex gap-3 align-items-center">
            <img src="assets/img/SunafilEnLineaImg/volver-al-inicio-btn.svg" class="w-2 lg:w-1" alt="">
            <p class="md:text-xl">Volver al Inicio</p>
        </a>
        <div class="absolute bottom-0  w-full right-0 headerItems">
            <div class="text-center">
                <h1 class="text-white font-bold xl:text-7xl">Sunafil en línea</h1>
                <p class="text-white text-xl lg:text-2xl">Al servicio del cuidadano</p>
                <input type="text" class="w-8 md:w-6 lg:w-4 bordeInput py-1 xl:w-3 pl-5 md:pl-5 xl:pl-5" pInputText />
                <a href="#">
                    <img src="assets/img/SunafilEnLineaImg/lupa.svg" class="lupa cursor-pointer" alt="">
                </a>
            </div>
        </div>
</div>
</ng-container>
