
<div [class]="visInicioFooter == true ? 'footerWeb':''" class="w-full bg-footer py-3">
   <div class="flex flex-column xl:flex-row gap-5 footerContainer w-7 xl:gap-0 xl:w-9 py-3 mx-auto">
       <div class=" xl:flex-none">
           <h2 class="text-colorFooter text-center xl:text-left xl:text-2xl lg:text-5xl ">Contáctenos</h2>
              <div class="contactenosText">
               <div class="text-center xl:flex xl:gap-5 lg:text-xl xl:text-left text-white">
                  <p class="mb-0 font-bold text-xl ">Central telefónica: </p>
                  <a href="tel:(511)390-2800" class="text-white text-xl">(511) 390-2800</a>
              </div>
              <div class="text-center xl:flex xl:gap-5 xl:text-left lg:text-xl text-white">
                 <p class="mb-0 font-bold text-xl  ">Correo electrónico: </p>
                 <a href="mailto:atencionalciudadano@sunafil.gob.pe" class="text-white text-xl">atencionalciudadano@sunafil.<br class="block md:hidden">gob.pe</a>
              </div>
              <div class="text-center direccion xl:text-left lg:text-xl text-white">
                 <p class="mb-0 font-bold text-xl">Sede central:</p>
                 <p class="text-xl">Av. Salaverry 655, 2do piso
                Jesús María, Lima - Perú</p>
               </div>
              </div>
        </div>
       <div class=" xl:flex-grow-1">
           <h2 class="text-colorFooter text-center xl:text-right lg:text-5xl xl:text-2xl">Síguenos</h2>
           <div class="flex justify-content-center xl:justify-content-end gap-5 xl:gap-3 containerIconos">
             <a href="https://www.facebook.com/SunafilPeru?mibextid=ZbWKwL" target="_blank" class="w-4 md:w-2 lg:w-1 xl:w-1 iconoWeb redes cursor-pointer">
                <img src="assets/img/SunafilEnLineaImg/REDES/facebook.svg" class="iconoRedes" alt="">
             </a>
             <a href="https://www.instagram.com/sunafilperu?igsh=MWxpd2RoYXkyeGc2eA==" target="_blank" class="w-4 md:w-2 lg:w-1 xl:w-1 iconoWeb redes cursor-pointer">
                <img src="assets/img/SunafilEnLineaImg/REDES/instagram.svg" class="iconoRedes" alt="">
             </a>
             <a href="https://pe.linkedin.com/company/superintendencia-nacional-de-fiscalizaci%C3%B3n-laboral---sunafil" target="_blank" class="w-4 md:w-2 lg:w-1 xl:w-1 iconoWeb redes cursor-pointer">
                <img src="assets/img/SunafilEnLineaImg/REDES/linkedin.svg" class="iconoRedes" alt="">
             </a>
             <a href="https://www.tiktok.com/@sunafil_peru?_t=8nEotoQ4qDG&_r=1" target="_blank" class="w-4 md:w-2 lg:w-1 xl:w-1 iconoWeb cursor-pointer">
                <img src="assets/img/SunafilEnLineaImg/REDES/tiktok.svg" class="iconoRedes" alt="">
             </a>
           </div>
       </div>
   </div>
</div>
