    .cajitaAnimacion { 
        margin: auto;
      } 


@media(min-width: 1800px){
    .grid-container {  
        display: flex; 
        justify-content: center; 
      } 
      .cajitaAnimacion {  
          width: 15%;  
          margin: 1%;  
          background: white;  
          padding: 10px;  
          border-radius: 8px;  
          text-align: center;  
          font-weight: bold;  
        }  
} 
