<div class="w-full relative">
    <div class="w-10 xl:w-9 containerBody mx-auto pb-7">
        <div class="text-center xl:text-left pt-4 xl:pt-6 pb-5">
            <h2 class="color-titulo text-4xl">Consultas y trámites</h2>
            <p class="w-1 mx-auto xl:ml-0 mt-0 bg-lineaRoja"></p>
        </div>
        <div class="grid grid-container" [@aparecerAnimacion]>
          <a *ngFor="let listDataServicio of listDataServicios" [href]="'https://'+listDataServicio.url" target="_blank" class="col-6 md:col-3 xl:col-2 cajitaAnimacion">
                <div class="text-center p-3 margenCajita border-round-sm bg-white font-bold">
                    <img [src]="'assets/img/SunafilEnLineaImg/APLICACIONES/'+listDataServicio.icono+'.svg'" class="w-6" alt="">
                    <h6 class="color-titulo font-bold text-center mt-2">{{ listDataServicio.nombreServicioEmpleador }}</h6>
                </div>
            </a>
            <!-- <a href="https://aplicativosweb2.sunafil.gob.pe/si.denunciasVirtuales/inicio" target="_blank" class=" col-6 md:col-3 xl:col-2 cajitaAnimacion">
                <div class="text-center p-3 margenCajita border-round-sm bg-white font-bold">
                    <img src="assets/img/SunafilEnLineaImg/APLICACIONES/registra-denuncia.svg" class="w-6" alt="">
                    <h6 class="color-titulo font-bold mt-2">Registra
                    tu <br> denuncia </h6>
                </div>
            </a>
            <a href="https://aplicativosweb6.sunafil.gob.pe/si.mesaVirtual/" target="_blank" class=" col-6 md:col-3 xl:col-2 cajitaAnimacion">
                <div class="text-center p-3 margenCajita border-round-sm bg-white font-bold">
                    <img src="assets/img/SunafilEnLineaImg/APLICACIONES/mesa-de-partes.svg" class="w-6" alt="">
                    <h6 class="color-titulo font-bold mt-2">Mesa de Partes <br>
                        Digital</h6>
                </div>
            </a>
            <a href="https://aplicativosweb7.sunafil.gob.pe/si.consultaTramite/" target="_blank" class=" col-6 md:col-3 xl:col-2 cajitaAnimacion">
                <div class="text-center p-3 margenCajita border-round-sm bg-white font-bold">
                    <img src="assets/img/SunafilEnLineaImg/APLICACIONES/consulta-tramite.svg" class="w-6" alt="">
                    <h6 class="color-titulo font-bold mt-2">Consulta tu
                         <br>trámite</h6>
                </div>
            </a>
            <a href="https://aplicativosweb7.sunafil.gob.pe/si.consultaExpediente/" target="_blank" class=" col-6 md:col-3 xl:col-2 cajitaAnimacion">
                <div class="text-center p-3 margenCajita border-round-sm bg-white font-bold">
                    <img src="assets/img/SunafilEnLineaImg/APLICACIONES/consulta-exp.svg" class="w-6" alt="">
                    <h6 class="color-titulo font-bold mt-2">Consulta
                        tu <br> expediente</h6>
                </div>
            </a>
            <a href="https://aplicativosweb5.sunafil.gob.pe/si.consultasLaborales/inicio" target="_blank" class=" col-6 md:col-3 xl:col-2 cajitaAnimacion">
                <div class="text-center p-3 margenCajita border-round-sm bg-white font-bold"><img src="assets/img/SunafilEnLineaImg/APLICACIONES/sunafil-responde.svg" class="w-6" alt="">
                    <h6 class="color-titulo font-bold mt-2">Sunafil <br>
                        Responde</h6>
                </div>
            </a>
            <a href="https://aplicativosweb6.sunafil.gob.pe/si.verificacionPlanillaElectronica/inicio" target="_blank" class=" col-6 md:col-3 xl:col-2 cajitaAnimacion">
                <div class="text-center p-3 margenCajita border-round-sm bg-white font-bold">
                    <img src="assets/img/SunafilEnLineaImg/APLICACIONES/verifica-tu-chamba.svg" class="w-6" alt="">
                    <h6 class="color-titulo font-bold mt-2">Verifica tu <br> chamba</h6>
                </div>
            </a>
            <a href="https://aplicativosweb6.sunafil.gob.pe/si.calculadoraLaboral/inicio" target="_blank" class=" col-6 md:col-3 xl:col-2 cajitaAnimacion">
                <div class="text-center p-3 margenCajita border-round-sm bg-white font-bold">
                    <img src="assets/img/SunafilEnLineaImg/APLICACIONES/calculadora-laboral.svg" class="w-6" alt="">
                    <h6 class="color-titulo font-bold mt-2">Calculadora <br> laboral</h6>
                </div>
            </a>
            <a href="https://aplicativosweb7.sunafil.gob.pe/si.alerta/" target="_blank" class=" col-6 md:col-3 xl:col-2 cajitaAnimacion">
                <div class="text-center p-3 margenCajita border-round-sm bg-white font-bold">
                    <img src="assets/img/SunafilEnLineaImg/APLICACIONES/sos-alerta.svg" class="w-6" alt="">
                    <h6 class="color-titulo font-bold mt-2">SOS Alerta <br> Sunafil</h6>
                </div>
            </a>
            <a href="https://aplicativosweb2.sunafil.gob.pe/si.consultaInspectores/" target="_blank" class=" col-6 md:col-3 xl:col-2 cajitaAnimacion">
                <div class="text-center p-3 margenCajita border-round-sm bg-white font-bold"><img src="assets/img/SunafilEnLineaImg/APLICACIONES/identificacion-de-insp.svg" class="w-6" alt="">
                    <h6 class="color-titulo font-bold mt-2">Identificación de <br> inspectores</h6>
                </div>
            </a>
            <a href="https://aplicativosweb2.sunafil.gob.pe/si.convocatoria/" target="_blank" class=" col-6 md:col-3 xl:col-2 cajitaAnimacion">
                <div class="text-center p-3 margenCajita border-round-sm bg-white font-bold">
                    <img src="assets/img/SunafilEnLineaImg/APLICACIONES/oportunidades-laborales-01.svg" class="w-6" alt="">
                    <h6 class="color-titulo font-bold mt-2">Oportunidades <br> laborales</h6>
                </div>
            </a>
            <a href="https://aplicativosweb5.sunafil.gob.pe/gissunafil/" target="_blank" class=" col-6 md:col-3 xl:col-2 cajitaAnimacion">
                <div class="text-center p-3 margenCajita border-round-sm bg-white font-bold">
                    <img src="assets/img/SunafilEnLineaImg/APLICACIONES/ubica-tu-intendencia-01.svg" class="w-6" alt="">
                    <h6 class="color-titulo font-bold mt-2">Ubica tu <br> intendencia</h6>
                </div>
            </a>
            <a href="https://aplicativosweb6.sunafil.gob.pe/si.saip/" target="_blank" class=" col-6 md:col-3 xl:col-2 cajitaAnimacion">
                <div class="text-center p-3 margenCajita border-round-sm bg-white font-bold">
                    <img src="assets/img/SunafilEnLineaImg/APLICACIONES/acceso-a-la-informacion.svg" class="w-6" alt="">
                    <h6 class="color-titulo font-bold mt-2">Acceso a la <br> información</h6>
                </div>
            </a>
            <a href="https://reclamos.servicios.gob.pe/?institution_id=215" target="_blank" class="  col-6 md:col-3 xl:col-2 cajitaAnimacion">
                <div class="text-center p-3 margenCajita border-round-sm bg-white font-bold"><img src="assets/img/SunafilEnLineaImg/APLICACIONES/libro-de-reclamaciones.svg" class="w-6" alt="">
                    <h6 class="color-titulo font-bold mt-2">Libro de <br> reclamaciones</h6>
                </div>
            </a>
            <a href="https://denuncias.servicios.gob.pe/?gobpe_id=455" target="_blank" class=" col-6 md:col-3 xl:col-2 cajitaAnimacion">
                <div class="text-center p-3 margenCajita border-round-sm bg-white font-bold">
                    <img src="assets/img/SunafilEnLineaImg/APLICACIONES/denuncia-actos-corrupcion.svg" class="w-6" alt="">
                    <h6 class="color-titulo font-bold mt-2">Denuncia actos de <br> corrupción</h6>
                </div>
            </a>
            <a href="https://aplicativosweb5.sunafil.gob.pe/si.consultaResoluciones/" target="_blank" class="  col-6 md:col-3 xl:col-2 cajitaAnimacion">
                <div class="text-center p-3 margenCajita border-round-sm bg-white font-bold">
                    <img src="assets/img/SunafilEnLineaImg/APLICACIONES/datos-abiertos-01.svg" class="w-6" alt="">
                    <h6 class="color-titulo font-bold mt-2">Datos abiertos <br> gubernamentales</h6>
                </div>
            </a>
            <a href="https://www.sunafil.gob.pe/portal/index.php?option=com_content&view=article&layout=edit&id=810" target="_blank" class="col-6 md:col-3 xl:col-2 cajitaAnimacion">
                <div class="text-center p-3 margenCajita border-round-sm bg-white font-bold">
                    <img src="assets/img/SunafilEnLineaImg/APLICACIONES/resoluciones-inspectivas.svg" class="w-6" alt="">
                    <h6 class="color-titulo font-bold mt-2">Resoluciones  <br> Sistema Inspectivos</h6>
                </div>
            </a>
            <a href="https://aplicativosweb7.sunafil.gob.pe/si.catalogoNormativo/#/" target="_blank" class=" col-6 md:col-3 xl:col-2 cajitaAnimacion ">
                <div class="text-center p-3 margenCajita border-round-sm bg-white font-bold"><img src="assets/img/SunafilEnLineaImg/APLICACIONES/nit-sunafil.svg" class="w-6" alt="">
                    <h6 class="color-titulo font-bold mt-2">NIT <br> Sunafil</h6>
                </div>
            </a>
            <a href="#" class="  col-6 md:col-3 xl:col-2 cajitaAnimacion ">
                <div class="text-center p-3 margenCajita border-round-sm bg-white font-bold"><img src="assets/img/SunafilEnLineaImg/APLICACIONES/sunafil-te-capacita.svg" class="w-6" alt="">
                    <h6 class="color-titulo font-bold mt-2">Sunafil te <br> capacita</h6>
                </div>
            </a> -->
        </div>
    </div>
    <a class="containerAyuda hidden xl:flex mb-6 cursor-pointer">
        <img src="assets/img/SunafilEnLineaImg/btn-ayuda.svg" class=" containerBtnAyuda" alt="">
        <p class="text-white bg-blue-600">¿Necesitas ayuda?</p>
    </a>
</div>
