
@media (max-width: 1024px) and (orientation: portrait) {
    .container-opciones {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 1024px) and (orientation: landscape) {
    .container-opciones {
        display: flex;
        justify-content: space-between;
    }
}



